.differentiators__inner {
  max-width: 720px;
}

.differentiators__head {
  margin-bottom: 8px;
}

.differentiators__body {
  margin-top: 16px;
  margin-bottom: 8px;
}

.differentiators__image {
  margin-top: 24px;
}
